node_modules
dist
build
coverage
.vite
*.min.js
packages/*/dist
packages/*/build
packages/*/coverage
pnpm-lock.yaml
package-lock.json
packages/frontend/src/auto-imports.d.ts
packages/frontend/src/components.d.ts
